<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      El hospedaje <%= @hospedaje.titulo %> que usted solicito se encuentra ocupado
    </p>
    <br/>
    <p>
      Gracias por utilizar Couchinn
    </p>
  </body>
</html>