<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Los datos del solicitante son:</h1>
    <p>
      Telefono: <%= @origen.telefono %>
      Email: <%= @origen.email %>.<br>
    </p>
    <p>
      Gracias por utilizar Couchinn como medio para publicar hospedajes 
    </p>
  </body>
</html>