<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Los datos del propietario son:</h1>
    <p>
      Telefono: <%= @destino.tel_caract %> - <%= @destino.tel_num %> 
      Email: <%= @destino.email %>.<br>
    </p>
    <p>
      Gracias por utilizar Couchinn como medio para buscar hospedajes 
    </p>
  </body>
</html>